# Core framework
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
pydantic>=2.7.0
pydantic-settings>=2.3.0
pydantic[email]>=2.7.0

# Database
sqlalchemy>=2.0.30
aiosqlite>=0.20.0       # SQLite async driver (dev/test)
alembic>=1.13.1         # DB migrations

# Azure SDK
azure-identity>=1.16.0
azure-mgmt-network>=25.3.0

# Auth
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.9   # required for OAuth2PasswordRequestForm

